#
# Build artifacts:
#
/libhelix.a
/helix-svm
/helix-top
/helix-trace

#
# CMake-generated:
#
/CMakeCache.txt
/CMakeFiles
/Doxyfile
/Makefile
/cmake_install.cmake
/install_manifest.txt

#
# Doxygen-generated:
#
/html
